{
  "printWidth": 82,
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "proseWrap": "preserve",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "arrowParens": "avoid"
}
